[Desktop Entry]
Version=1.0
Name=FrescoGO
Exec=/home/chico/placar-radar/launcher/frescogo.sh
Terminal=false
Type=Application
Icon=/home/chico/placar-radar/launcher/frescogo.png
